.button {
  cursor: pointer;
  width: 90%;
  margin: 0.5rem 1rem;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
.common {
  width: 2rem;
  height: 2rem;
  margin: 0 30%;
}

/* Desktop view */
@media (min-width: 768px) {
  .button {
    width: 20%;
    margin-right: 2rem;
    margin-left: 4rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
}
