.country {
  width: 75%;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  list-style: none;
  color: var(--Black);
  text-decoration: none;
}
.country-info {
  padding-left: 2rem;
  padding-bottom: 3rem;
}
.country-info h1 {
  font-size: 1.6rem;
  margin: 1.5rem 0rem;
}
.country-info li {
  font-size: 1.2rem;
  font-weight: 600;
}
.country-info p {
  display: inline-block;
  font-weight: 300;
}
.flag {
  width: 100%;
  height: 50%;
}
.flag img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/0.6;
}

/* Desktop view */
@media (min-width: 768px) {
  .country {
    width: 20%;
    margin-right: 3rem;
  }
}
