.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--Very-Light-Gray);
  padding-bottom: 3rem;
}
.no-countries {
  font-size: 1.5rem;
  color: var(--Black);
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}

/* Desktop view */
@media (min-width: 768px) {
  .countries {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4rem;
  }
}
