.detailed-country {
  width: 90%;
  margin: 0 auto;
  color: var(--Black);
  white-space: nowrap;
}
.image-div {
  width: 100%;
  height: 30%;
}
.image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
ul li {
  list-style: none;
  display: flex;
}
.title {
  margin: 10% 0 5% 0;
}
.left {
  font-weight: 600;
  margin-right: 0.5rem;
}
h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}
button {
  padding: 0.5rem 2rem;
  margin: 2%;
  border: 0;
  background-color: var(--White);
  box-shadow: 0 0 3px black;
  border-radius: 0.3rem;
  color: var(--Black);
  cursor: pointer;
}
.loading-country-details {
  font-size: 1.5rem;
  text-align: center;
  color: var(--Black);
}
.nav-link {
  text-decoration: none;
  color: var(--Black);
}
.no-borders {
  padding: 0.3rem;
}
.sub-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 0.5rem;
}

/* Desktop view */
@media (min-width: 768px) {
  .detailed-country {
    display: flex;
  }
  .image-div {
    width: 700px;
    height: 400px;
  }
  .image-div img {
    height: 100%;
    object-fit: cover;
  }
  .content-div {
    display: flex;
    flex-direction: column;
  }
  .second-one {
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    gap: 3rem;
  }
  .second-one-one {
    padding: 2rem 0 2rem 3rem;
  }
  .second-one-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 0 2rem;
  }
  .second-second {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 7rem;
  }
  .title {
    padding-bottom: 2rem;
  }
  .sub-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 1rem;
  }
}
