.find {
  background-color: var(--Very-Light-Gray);
  padding-top: 2rem;
}
.select-dropdown {
  width: 50%;
}
.search {
  display: flex;
  width: 90%;
  background-color: var(--White);
  margin: 5%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px black;
  border-radius: 0.5rem;
  overflow: hidden;
}
.search .search-icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--Dark-Gray);
  margin-left: 1rem;
}
.search input {
  padding: 1rem;
  width: 100%;
  margin-left: 1rem;
  border: none;
  background-color: var(--White);
  color: var(--Black);
}
.search input::placeholder {
  color: var(--Dark-Gray);
}
.search input:focus {
  outline: none;
}
.select-dropdown {
  width: 50%;
  padding-bottom: 2rem;
  margin-left: 5%;
  margin-top: 2rem;
}

/* Desktop view */
@media (min-width: 768px) {
  .find {
    display: flex;
    justify-content: space-between;
  }
  .search {
    width: 30%;
    height: 2.5rem;
    padding: 0 1rem;
    align-self: center;
  }
  .search-icon {
    padding: 0;
    margin: 0;
  }
  .select-dropdown {
    margin-right: 4rem;
    width: 15%;
  }
}
