.goback-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 10% 5% 15% 5%;
  background-color: var(--White);
  border: none;
  box-shadow: 0 0 2px black;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* Desktop view */
@media (min-width: 768px) {
  .goback-button {
    margin: 2rem 5rem;
  }
}
