.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--White);
}
.header h1 {
  font-size: 1.2rem;
  padding: 1rem;
  color: var(--Black);
}
.header .sun-moon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  font-weight: 600;
  gap: 0.5rem;
  color: var(--Black);
  cursor: pointer;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
.moon-icon {
  background-color: white;
}

/* Desktop view */
@media (min-width: 768px) {
  .header h1 {
    margin-left: 4rem;
    font-size: 1.7rem;
  }
  .header .sun-moon {
    margin-right: 4rem;
    font-size: 1.2rem;
  }
}
