body {
  background-color: var(--Very-Light-Gray);
}
.error {
  font-size: 1.5rem;
  color: var(--Black);
  margin: 5%;
}
.subregion {
  margin-top: -2rem;
}
.no-page {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}

/* Desktop view */
@media (min-width: 768px) {
  .subregion {
    display: flex;
    align-items: center;
  }
  .input-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
